/* Em src/components/Sidebar.module.css */
.sidebar {
  grid-area: sidebar;
  background-color: var(--color-sidebar-bg);
  color: var(--color-text-sidebar);
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h2 {
  text-align: center;
  color: #ffffff; /* Título principal sempre branco */
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.clientName {
  color: var(--color-text-sidebar);
  font-size: 0.9rem;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-border-sidebar);
}

.link {
  color: var(--color-text-sidebar);
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.link:hover,
.linkActive {
  background-color: var(--color-sidebar-link-hover);
  color: #fff;
}

.navSeparator {
  height: 1px;
  background-color: var(--color-border-sidebar);
  margin: 1rem 0;
}