/* Em src/components/StoreTypeChart.module.css */
.chartContainer {
  background-color: var(--color-background-card);
  border-radius: 8px;
  border: 1px solid var(--color-border-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.chartContainer h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--color-text-primary);
  transition: color 0.2s ease;
}

.chartContainer p {
  color: var(--color-text-secondary);
}

/* Estilos para a legenda customizada */
.legendList {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legendItem {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.8rem;
  font-size: 0.9em;
  color: var(--color-text-secondary);
  transition: color 0.2s ease;
}

.legendColorBox {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* CSS PARA O TOOLTIP */
.customTooltip {
  background-color: var(--color-background-card);
  border: 1px solid var(--color-border-light);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tooltipLabel {
  margin: 0;
  color: var(--color-text-primary);
}